h1 {
    color:     #0c0f1d;
    font-family: "calibri", Garamond, 'Comic Sans MS';
    }
    body {
      background: url("http://imgview.info/download/20150717/digital-art-white-polygon-abstract-2560x1600.png") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }
