<form method="post">{% csrf_token %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <label1 for="username">Nombre de Usuario</label1>
        <input class="form-control" type="text" name="username">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <label1 for="username">Clave</label1>
        <input class="form-control" type="password" name="password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <label1 for="username">Nombre de Usuario</label1>
        <input class="btn btn-primary" type="submit" name="Ingresar">
      </div>
    </div>
  </div>
</form>
